:root {
  --primary-color: #1e40af;
  --secondary-color: #4f46e5;
  --text-color: #1f2937;
  --bg-color: #f3f4f6;
}

*{
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0;
}
